{{ attach_library('kino/hero') }}

{% set hero_position = {
  'hero--center': 'col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2',
  'hero--right': 'col-xs-10 col-md-8 col-xs-offset-2 col-md-offset-4',
  'hero--left': 'col-xs-10 col-md-8'
} %}

<div{{ attributes.addClass(['hero', 'js-hero']).addClass(media_image ? 'hero--image-added' : 'hero--narrow-height') }}>
  {% if media_image %}
    <div class="hero__image-wrapper">
      {{ media_image }}
    </div>
  {% endif %}
  <div class="hero__iframe-wrapper js-hero-iframe-wrapper">
    {% if media %}
      {{ media }}
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
      <div class="{{ hero_position[position] }}">
        <div class="hero__content">
          {% if title %}
            <h1>{{ title }}</h1>
          {% endif %}
          {% if text %}
            {{ text }}
          {% endif %}
          {% block cta %}
            {{ cta }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
